:root{
    --body-color: #3c3b3e;
    --text-color: #f0f0f0;
}
.searchbox{
    outline: none;
    border-radius: 0.5rem;
    border-width: 0;
    width: 100%;
    font-size: 36px;
    color: #0e0e0f;
    position: relative;
    
}

ul{
    list-style: none;
    padding: 0;
}
.searchbox-items{
    position: absolute;
    z-index: 99;

}
.autosearch-container{
    margin: 0;
    margin-left: 20vw;
    width: min(1000px, 100%);
    flex-direction: column;

}
#searchAuto{
    background-color: #ffffff;
    color: #0e0e0f;
    border-radius: 0.5rem;
    outline: none;
}

#searchAuto ul{
    margin: 0;
    cursor: pointer;
}

#searchAuto ul li:hover{
    background-color: #e9f3ff;
}



body{
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
}